<h1 class="page-header">// LOGIN TO CHALLENGE FINDER</h1>

	<div class="back-link"></div>

<%= render 'form' %>
<br>
	
	<div class="back-link">
	<%= link_to 'Back to Challenges', sessions_path %>
	</div>
