<h1 class="page-header">// LEGAL</h1>

	<div class="back-link"><%= link_to 'Back to Challenges', challenges_path %></div>


<div class="span8">
	<p>The following constitutes the agreement between the user and ChallengeFinder, whereas the reference 
	of “this site” will be used synonymously with ChallengeFinder:
    </p><br>

  	<div class="detail-highlights"><p>LIABILITY DISCLAIMER</p></div>
	<p>IN NO EVENT SHALL CHALLENGEFINDER, ITS AUTHORS, SUPPLIERS, OR OTHER THIRD PARTIES MENTIONED 
	ON THIS SITE BE LIABLE FOR ANY DAMAGES WHATSOEVER, INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, 
	INCIDENTAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES 
	FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE 
	OF THE SITE, WITH THE DELAY OR INABILITY TO USE THIS SITE, OR RELATED SERVICES, THE PROVISION OF OR 
	FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED 
	INFORMATION OR ARTISTIC MEDIUMS OBTAINED THROUGH THE SITE, OR OTHERWISE EXPOSED TO THROUGH USE OF THIS 
	SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF THIS SITE OR 
	ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES.  IF USE OF THIS SITE RESULTS IN ANY 
	IMPACT TO HARDWARE, SOFTWARE OR DATA ASSOCIATED WITH THE USER, THE USER THEN ASSUMES ALL COSTS THEREOF.
    </p><br>
	
	<div class="detail-highlights"><p>ACCURACY OF INFORMATION</p></div>
    <p>ChallengeFinder shall attempt to present accurate and honest information, although errors, deletions, 
    additions, and content related changes may occur. Any out of date information listed on this site may 
    contain inaccuracies and/or content related errors. ChallengeFinder shall not be liable for any damages, 
    as indicated in the liability disclaimer, for any of such errors.    
    </p><br>
    
    <div class="detail-highlights"><p>EXTERNAL LINKS</p></div>
    <p>ChallengeFinder may provide links to other external sites that it does not own, control, or influence, 
    and thus cannot be responsible for any content on an external site, including the accuracy of their content, 
    their relevance, timeliness, or completeness, nor can ChallengeFinder be responsible for any changes or 
    updates to the content of the external sites that may not be reflected on this site. All external links are 
    provided solely for the users convenience, and do not constitute and endorsement of any viewpoints, products, 
    or services, associated with the external site or that of the organizations that sponsor these websites. 
    Any information on ChallengeFinder does not constitute any requirement to sell or promote products any 
    products associated with this site and any of its employees, authors, affiliates, associates or partners 
    are not offering the user anything at all other than to visit and read our content. By using any product, 
    service, or function of ChallengeFinder, the user acknowledges and consents such that ChallengeFinder may 
    share such information with designated external parties where the site has a contractual relationship to 
    provide said information, service, product, or function.     
    </p><br>
    
    <div class="detail-highlights"><p>PRIVACY STATEMENT</p></div>
    <p>ChallengeFinder may gather data on web site usage, such as the number of site visitors, when they visit 
    the site, the areas visited on the site, external links that are explored by the user, and the amount of 
    time they stay on certain parts of the site. ChallengeFinder respects the user's privacy and will protect 
    it when the user visits the site. In addition, the site will collect no personal information from the user 
    unless he or she is specifically aware of such and knowingly allows us to collect that information, such as 
    documented in this agreement. In the event that the user chooses to provide that information, it will be 
    used to aid the user for additional information or services.    
    </p><br>
    
    <div class="detail-highlights"><p>USER GENERATED CONTENT</p></div>
    <p>Any information posted or otherwise posted, specifically for public viewing, will be considered 
    non-proprietary and non-confidential. This submittal of information can take many forms of written text. 
    The user agrees to interact with the method of communication, including posting, sending, and receiving 
    information, in a manner that is proper and in accordance with the context of the information. The user 
    agrees that they will not abuse, berate, harass, stalk, threaten, or otherwise violate the legal rights, 
    including rights of privacy, of others; publish, post, upload, distribute or disseminate, and inappropriate, 
    profane, defamatory, infringing, obscene, indecent or unlawful content, names, materials or information; 
    upload files that contain software or other material protected by intellectual property, unless the user 
    owns or controls the rights thereto or have received all necessary consents; upload files that contain 
    viruses, corrupted files, or any other similar software or programs that may damage the operation of 
    another's computer; advertise or offer to sell or buy any goods or services for any business purpose, 
    unless the medium of submittal specifically allows such messages; conduct or forward surveys, contests, 
    pyramid schemes or chain letters; download any file posted by another user of a said service that the user 
    knows, or reasonably should know, cannot be legally distributed in such manner; falsify or delete any 
    author attributions, legal or other proper notices or proprietary designations or labels of the origin or 
    source of software or other material contained in a file that is uploaded, restrict or inhibit any other 
    user from using and benefiting from said communication; violate any code of conduct or other guidelines 
    which may be applicable for any particular communication; harvest or otherwise collect information about 
    others, without their consent; or violate any applicable laws or regulations in any way. ChallengeFinder 
    does not claim ownership to posts submitted by the user; however, by posting, uploading, inputting, 
    providing, or submitting information the user is granting ChallengeFinder, affiliates and required 
    sub-licensees, permission to use said information within the preview of operating and maintaining this 
    site, without limitation. Such submissions by the user will not be compensated, unless specifically 
    indicated. ChallengeFinder is not obligated to post any information submitted by a user on the site.    
    </p><br>
    
    <div class="detail-highlights"><p>COPYRIGHT</p></div>
    <p>ChallengeFinder only authorizes the user to view and download information on this site solely for the 
    user's personal, non-commercial use. All materials produced by ChallengeFinder on the site are protected 
    under U.S. copyright law and international treaty.     
    </p><br>
    
    <div class="detail-highlights"><p>OPTION OF USE / ACCESS TERMINATION</p></div>
    <p>In the event that the user is unsatisfied with any aspect of this site, including the terms of use, 
    it is the user’s responsibility to discontinue use of the site. ChallengeFinder reserves the right and 
    discretion to terminate the user's access to the site, including interruption of services, at anytime and 
    without prior notice.     
    </p><br>
    
    <div class="detail-highlights"><p>COMMUNICATIONS</p></div>
    <p>By submitting a user’s email address to ChallengeFinder, or by sending us an email, the user agrees 
    to a receive email communications from ChallengeFinder, and that any agreements, notices, disclosures, 
    and/or other communications provided to the user satisfy any legal requirement that such communications 
    be documented in writing. Unless otherwise specified herein, this agreement constitutes the entire agreement 
    between the user and ChallengeFinder with respect to the Site and it supersedes all prior and present 
    communications or proposals, whether electronic, oral, or written, between the user and ChallengeFinder 
    with respect to this site. This agreement, in written or electronic form, shall be admissible in judicial 
    or administrative proceedings based upon or relating to this agreement to the same extent and subject to 
    the same conditions as other business documents and records originally generated and maintained in printed 
    form. ChallengeFinder indicates that these terms and agreements, and any interpretation or representation of 
    such, and all such related documentation, be expressly written in English.     
    </p><br>
    
    <div class="detail-highlights"><p>USER ACCOUNTS</p></div>
    <p>All users are responsible for maintaining the confidentiality of their accounts, account passwords, 
    and access to their computers by means of which to gain access to their account. Users agree to accept 
    the responsibility for all actions that transpire under the users account, and are responsible for any 
    third party access to a user's account as a result of theft or misappropriation. All users may not transfer 
    or assign an account to another person or organization. If the user is under 18, he or she may use 
    ChallengeFinder only with permission of a parent or guardian.     
    </p><br>
    
    <div class="detail-highlights"><p>NO UNLAWFUL OR PROHIBITED USE</p></div>
    <p>Users are granted non-exclusive, non-transferable, revocable license to access and use ChallengeFinder 
    strictly in accordance with these terms of use. As a condition for use of this site, the user agrees not 
    to use this site for any purpose that is unlawful or prohibited by these Terms, nor in any manner which 
    could damage, disable, overburden, or impair this site or interfere with any other party's use and enjoyment 
    of this site.     
    </p><br>
    
    <div class="detail-highlights"><p>UPDATES TO TERMS & CONDITIONS</p></div>
    <p>ChallengeFinder reserves the right, in its sole discretion, to change the Terms under which this site 
    is offered. The most current version of the site will always succeed all previous versions.     
    </p><br>
    
    <div class="detail-highlights"><p>ALL RIGHTS RESERVED</p></div>
    <p>All other rights are reserved by ChallengeFinder. Names, trademarks, service marks, and logos 
    specifically associated to ChallengeFinder appearing on this site may not be used in any manner that 
    indicates ChallengeFinder’s affiliation with, sponsorship of, or a relationship with any company, 
    organization, product, or service company without ChallengeFinder’s expressed prior written consent.     
    </p><br>
    
    <br>	
    <br>
    <br>
</div>