container_commands:
  01create_post_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
  02killjava:
    command: "killall java"
    ignoreErrors: true
    
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_start_solr.sh":
    mode: "755"
    owner: "root"
    group: "root"
    content: |
        #!/bin/bash -l
        cd /var/app/ondeck
        bundle exec rake sunspot:solr:stop || true
        cd /var/app/current
        bundle exec rake assets:precompile
        bundle exec rake db:migrate
        bundle exec rake sunspot:solr:start || true
        bundle exec rake db:seed
        chown -R webapp:webapp .
