container_commands:
  01bundle-install:
    command: "su ec2-user -c 'bundle install'"
  02migrate:
    command: "su ec2-user -c 'bundle exec rake db:migrate'"
  03solr:
    command: "su ec2-user -c 'bundle exec rake sunspot:solr:start'"
  04asscom:
    command: "su ec2-user -c 'bundle exec rake assets:precompile'"    
  05seed:
    command: "su ec2-user -c 'bundle exec rake db:seed'"
