<h1>New admin_challenge</h1>
    <div style="float: left" >
        URL OF CHALLENGE: <input type="text" id="urltextbox" size="240" /></br>
        <iframe id="iframe_id1" width="800" height="2048" src=" http://localhost:3000/admin/proxy/?url=http://psychicblast.com"></iframe>
    </div>
    <div style="width: 300px; float: right">
        <%= render 'form' %>
    </dvi>
    <div style="clear: both"></div>
    <%= link_to 'Back', admin_challenges_path %>
