<h1 class="page-header">// ABOUT US</h1>

	<div class="back-link"><%= link_to 'Back to Challenges', challenges_path %></div>


<div class="span8">
  <div class="detail-highlights"><p>OUR STORY</p></div>
	<p>At ChallengeFinder, we love technical competitions. Each of us has tried our hand at entering these types of competitions because they’re challenging puzzles, fun, great learning opportunities, and emotionally satisfying to work on.
      <br>
      <br>
      Unfortunately, it seems like you always hear about these challenges the day before the submission deadline. The perfect competition for your skill sets just closed last week, because you only end up hearing about them when they’re featured in a publication or whenever your buddy forwards you a link to such. Why can’t we hear about this stuff in advance? I don’t know about you, but we found the frequency of this happenstance infinitely frustrating.
      <br>
      <br>
      So we asked ourselves – how can we figure out when these competitions are held? Why isn’t this information all in one place?  Without the necessary skill sets, we decided to go ahead teach ourselves how to build a platform to accomplish just that. In the process, we lost a bit of sleep, but learned a lot and managed to actually produce the platform we’ve envisioned. We hope sincerely hope you find it equally as useful.
      <br>
    </p><br>
	
	<div class="detail-highlights"><p>MISSION STATEMENT</p></div>
    <p>Our goal for ChallengeFinder is to create single source aggregate for all technical competitions. We provide a database of current challenges, which includes relevant details about each one, including a link to the information source. This allows a user to search through our database to find the open technical challenges they are interested in participating in.
    <br><br><br>
    <strong>Up for a challenge? We’ll help you find one.</strong>
    </p><br>
	
    <br>
    <br>
</div>