<h1 class="page-header">// ABOUT US</h1>

	<div class="back-link"><%= link_to 'Back to Challenges', challenges_path %></div>


<div class="span8">
	<p>We are a group of passionate individuals that believe that humans can work together to make the world a better place.
	 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus massa pharetra eros iaculis pellentesque. Nulla nec ultricies nunc. Praesent ipsum erat, pellentesque sed ornare in, elementum sit amet lorem. Vestibulum convallis, urna nec sollicitudin sollicitudin, sapien massa sollicitudin eros, quis vehicula purus ante et lectus. Proin rhoncus, erat ac pretium vestibulum, orci dolor vulputate magna, a pellentesque quam mi a orci. Nam et odio quis nibh tincidunt iaculis. Integer iaculis dolor et massa lacinia id placerat orci porttitor. Phasellus elementum, magna varius pharetra volutpat, nibh risus gravida risus, eu vestibulum orci quam et purus. Sed convallis placerat varius. In leo orci, ullamcorper pharetra volutpat eu, pharetra eu tortor. Pellentesque non purus nisl, quis venenatis massa. Vivamus orci felis, fermentum ut suscipit id, ullamcorper quis justo. Proin quis sapien turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nunc nibh, vulputate at facilisis eu, posuere ut eros. Aliquam erat volutpat.
	</p><br>
	
	<div class="detail-highlights"><p>MISSION STATEMENT</div>
	<p>
	Donec auctor pellentesque massa, at placerat enim condimentum vitae. Vivamus eget diam est, ac tristique nunc. Etiam eros nisi, rhoncus feugiat lobortis et, ultrices eget turpis. Nulla vel turpis non mauris sagittis faucibus. Curabitur scelerisque sollicitudin aliquet. Sed vel velit lectus. Nunc sodales, lacus vel porttitor adipiscing, nibh elit lacinia metus, nec mollis nisl ipsum malesuada nibh. 
	</p><br>
	
	<div class="detail-highlights"><p>CAUSEROOT</div>
	<p>
	Donec auctor pellentesque massa, at placerat enim condimentum vitae. Vivamus eget diam est, ac tristique nunc. Etiam eros nisi, rhoncus feugiat lobortis et, ultrices eget turpis. Nulla vel turpis non mauris sagittis faucibus. Curabitur scelerisque sollicitudin aliquet. Sed vel velit lectus. Nunc sodales, lacus vel porttitor adipiscing, nibh elit lacinia metus, nec mollis nisl ipsum malesuada nibh. 
	</p><br><br><br>
</div>