body {
  background: -moz-linear-gradient(-45deg, #326941 0%, #004739 20%, #326941 100%);
  color: #6D6E71;
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #6D6E71;
}

h1 {
	font-size: 14px;
	font-weight: normal;
	color: #006838;
	}

h5 {
	margin-top: 0;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
	}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
    margin-left: 10px;
  }
}

.row {
	margin-bottom: 40px;
	
}

.row-2 {
	margin-bottom: 40px;
	display: inline-block;
	overflow: hidden;
	}

.row-3 {
	width: 75%;
	}

.notice-row {
	margin-bottom: 8px;
}
	
.container {
	background: white;

	}

.logo-area {
	min-height: 40px;
    padding-left: 70px;
    padding-right: 20px;
    margin-top: 40px;
}

.navbar .brand {
    color: white;
    display: block;
    float: left;
    font-size: 40px;
    font-weight: normal;
    margin-left: -20px;
    margin-top: 10px;
    padding: 10px 20px;
    text-shadow: 0 1px 0 black;
	}

.span2 {
	width: 110px;
	margin-left: 0;
	}

.span3 p {
	color: #000000;
	padding-left: 20px;
	margin-bottom: 0;
	font-size: 12px;
	}

.span4 {
	width: 324px;
	}

.span4 a {
	margin-left: 0;
	color: #FF9900;
	}

.span4 a:hover {
	margin-left: 0;
	color: #707070;
	background: none;
	} 	
	
.span9 {

  display: inline-block;
	}	

.content2 {
	display: inline-block;
	}
	
.dividing-line {
	color: #D1D3D4;
	height: 1px;
	padding: 0;
	}	
	
.dot-divider {
	color: #A7A9AC;
	letter-spacing: .7em;
	}
		
#test-area {
	height: 400px; 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A7A9AC), to(#D1D3D4));   /* Safari 4-5, Chrome 1-9 */
	background: -webkit-linear-gradient(top, #A7A9AC, #D1D3D4); /* Safari 5.1, Chrome 10+ */
	background: -moz-linear-gradient(top, #A7A9AC, #D1D3D4); /* Firefox 3.6+ */  
	background: -ms-linear-gradient(top, #A7A9AC, #D1D3D4); /* IE 10 */
	background: -o-linear-gradient(top, #A7A9AC, #D1D3D4); /* Opera 11.10+ */ 
	margin-bottom: 40px;
	}

#test-area p {
	font-size: 14px;
	color: #FFFFFF;
	}
	
.form-field {
	background-color: white;
	height: 16px;
	margin: 8px 21px;
	font-size: 11px;
	}
	
.dropdown-field {
	margin: 8px 21px;
	}	

.dropdown-field option {
	font-size: 12px;
	}
	
.search-button {
	font-size: 14px;
	font-weight: normal;
	color: #006838;
	float: right;
	margin-right:21px;
	border: none;
	background: none;
	}
	
#notice {
  color: green;
	}

.fb-like {
	padding-right: 12px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;

	}
		
.page-border {
	margin-left: 30px;
	}
	
.page-header {
	display: inline;
	border-bottom: none;
	padding-right: 60px;
	padding-bottom: 0px;
	}

#page-numbers {
	margin-bottom: 40px;
	padding-right: 32px;
	float: right;
	}
		
#login {
	float: right;
	color: #808285;
	margin-top: 11px;
	}

.pagination a, .pagination span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: none;
    border-image: none;
    border-style: none;
    border-width: 0;
    float: left;
    line-height: 18px;
    padding: 0 4px;
    text-decoration: none;
	}

.pagination {
	float: right;
	height: 20px;
	margin: 0;
	padding-right: 20px;
	}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
	}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
